name: Node with waf server build and deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "node-with-waf/**"
      - ".github/workflows/node-with-waf-post-merge-actions.yml"

defaults:
  run:
    shell: bash
    working-directory: ./node-with-waf

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Upload to ECR and tag
        uses: govuk-one-login/devplatform-upload-action-ecr@v1.5.0
        with:
          role-to-assume-arn: ${{ secrets.NODE_WITH_WAF_ROLE_TO_ASSUME }}
          container-sign-kms-key-arn: ${{ secrets.CONTAINER_SIGN_KMS_KEY }}
          working-directory: node-with-waf
          ecr-repo-name: ${{ secrets.NODE_WITH_WAF_ECR_REPOSITORY }}
          artifact-bucket-name: ${{ secrets.NODE_WITH_WAF_ARTIFACT_BUCKET }}